#caixaLogin {
    height: 200px;
    border-radius: 20px;
    background-color: LightSteelBlue;
}
    
#txtUsuario {
    position: relative;
    width: 80%;
    left: 10%;
    top: 10%;
}

#txtEmail {
    position: relative;
    width: 80%;
    left: 10%;
    top: 15%;
}

#txtSenha {
    position: relative;
    width: 80%;
    left: 10%;
    top: 20%;
}

#btnLogin {
    position: relative;
    bottom: 15px;
    display: none;
}

#botao {
    position: relative;
    left: 10%;
    bottom: 25%;
}

#alerta {
    position: relative;
    bottom: 200px;
}